@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");
 .left {
     background-color: #355070;
     height: 700px;

     .button1 {
         background-color: #C4C4C4;
         height: 50px;
         width: 50px;
         border-radius: 30px;
         color: black;
         border: none;
     }

     .style {
         border: 1px solid black;
         background-color: red;
     }

     .button2 {
         background-color: #FFFFFF;
         height: 50px;
         width: 50px;
         border-radius: 30px;
         color: black;
         border: none;
     }

     .button2:hover {
         background-color: #346F68;
     }

     .card {
         width: 80%;
         margin-top: 50px;
         margin-left: 30px;

         .card-body {
             display: flex;
             flex-direction: row;
             align-items: center;


             .text {
                padding: 40px;
                padding-bottom: 70px;


                h5 {
                    padding-top: 18px;
                    text-align: start;
                    width: 190px;

                }
            }
             .circle-card {
                 display: flex;

                 // justify-content: center;
                 align-items: center;
                 margin-bottom: 20px;

                 .align {
                     display: flex;
                     flex-direction: column;
                     justify-content: center;
                     align-items: center;

                     .circle-line1 {
                         display: flex;
                         flex-direction: column;
                         justify-content: center;
                         width: 1px;
                         height: 30px;
                         background: #2A9D8F;

                     }

                     .circle-line {
                         display: flex;
                         flex-direction: column;
                         justify-content: center;
                         width: 1px;
                         height: 30px;
                         //   background-color: #D9D9D980;
                         border: 1px solid #D9D9D980 //   border: 1px solid #000000
                     }

                     .circle1 {


                         align-items: center;
                         width: 20px;
                         height: 20px;
                         background-color: #2A9D8F;
                         border-radius: 60%;
                         display: flex;
                         justify-content: center;
                         align-items: center;
                         color: white;
                         font-weight: bold;
                         // margin-right: 10px;
                     }

                     .circle {


                         align-items: center;
                         width: 20px;
                         height: 20px;
                         border: 2px solid #2A9D8F;
                         border-radius: 60%;
                         display: flex;
                         justify-content: center;
                         align-items: center;
                         color: #D9D9D980;
                         background:
                             linear-gradient(0deg, rgba(217, 217, 217, 0.5), rgba(217, 217, 217, 0.5));

                         font-weight: bold;
                         // margin-right: 10px;
                     }
                 }
             }
         }

     }






 }
 .right{
    display: flex;
        flex-direction: column;
        // justify-content: center;
        align-items: center;
       
        
        // .table-container {
        //     max-height: 300px; /* Set your desired height here */
        //     overflow-y: scroll;
        // }
        
        // .custom-table {
        //     width: 100%;
        //     // border-collapse: collapse;
        // }
        
        // .custom-table th, .custom-table td {
        //     padding: 8px;
        //     white-space: nowrap;
        // }
        
        // .custom-table th {
        //     // background-color: #fff;
        //     position: -webkit-sticky;
        //     position: sticky;
        //     top: 0;
        //     z-index: 1;
        // }
        
       
        
        // .custom-table tbody {
        //     display: table;
        //     width: 100%;
        // }
        
        
        .table-container {
            max-height: 370px; /* Set your desired height here */
            overflow-y: scroll;
            // position: relative;
          
        }
        
        .custom-table {
    
           
            width: 100%;
            border-collapse: collapse;
            thead th{
                position: -webkit-sticky;
                position: sticky;
                top: 0;
                 
            }
        }
        
        // .custom-table th, .custom-table td {
        //     width: 25%; /* 25% width for each column, adjust as needed */
        //     padding: 8px;
        // }
        
        .table-container {
            overflow-y: auto; /* Enable vertical scrolling */
            height: 300px; /* Set the desired height for the scrollable area */
            padding-right: 10px; /* Add a gap on the left side */
            
            // border-top :1px solid #00000033;
           
            // border-bottom: 1px solid #00000033;
            // border-left: 1px solid #00000033;
            // border-bottom-left-radius: 20px;
            // border-top-left-radius: 20px;
            
        }
        
        /* Hide the default scrollbar to avoid conflicts */
        .table-container::-webkit-scrollbar {
            width: 12px; /* Adjust as needed */
            scrollbar-color: #333 #f5f5f5;
        }
        
        /* Style the scrollbar track */
        .table-container::-webkit-scrollbar-track {
            background: #f1f1f1; /* Track color */
            scrollbar-color: #333 #f5f5f5;
            border-radius: 5px;
            
        }
        
        /* Style the scrollbar thumb */
        .table-container::-webkit-scrollbar-thumb {
             
            background: #333; /* Thumb color */
            // width: 10px;
            border-radius: 5px; /* Rounded corners */
        }
        

        .custom-table thead th {
            position: -webkit-sticky;
            position: sticky;
            top: 0;
   
            
        }
        
        #table-body  {
            
            max-height: 280px; /* Adjust the height as needed */
            overflow-y: scroll;
        }
        
   
        
        
        
        .setting{
            height: 276px;
            width: 366px;
            // background-color: aqua;
        }
        .text-set{
            margin-top: 0px;
            height: 190px;
            width: 600px;
             
            // background-color: aquamarine;
            h4{
                display: flex;
                flex-direction: column;
                align-items: center;
                font-family: Montserrat;
    font-size: 27px;
    font-weight: 600;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
    
            }
            p{
                font-family: Montserrat;
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    
            }
        }

        tr {
            height: 0px; /* Change the row height as needed */
            // width: 100%;
        }

        th {
            height: 50px; /* Change the header row height as needed */
            background-color: #f0f0f0; /* Background color for header row */
            text-align: center; /* Center header text */
            
        }

        td {
            text-align: center; /* Center cell text */
        }

        .btn-set{
            // background-color: aquamarine;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            // gap: 15px;
             
            .set1 {
                width: 200px;
                // height: 50px;
               margin-top: 8px;
               color: white;
               background-color:#355070 ;
               /* Adjust the text color as needed */
            //    border: 1px solid #355070;
               /* Remove the button border */
               
              
               // align-items: end;
           }
           .set1:hover {
            background-color: #355070;
            /* Adjust the active background color */
            color: #FFFFFF;
        }
        }
     }