/* .leftimg {
  width: 100%;
} */

.left-side-column{
  border-right: 1px solid gray;
}


.rightimg {
  width: 45%;
}

.below-img-row{
  margin-top: 10%;
}

h5 {
  text-align: left;
  font-weight: bold;
}

.hello-heading {
  text-align: center;
  font-weight: bold;
}

p {
  text-align: left;
}

.right-side-para {
  text-align: center;
}

.login-email-heading {
  text-align: left;
}

.login-email-inputfield {
  margin-left: 4%;
  border-radius: 5px;
  border: 1px solid gray;
  padding: 2%;
}

.password-heading {
  text-align: left;
}
.login-password-inputfield {
  margin-left: 4%;
  border-radius: 5px;
  border: 1px solid gray;
  padding: 2%;
}

.forPword {
  text-align: center;
  color: blue;
  margin-left: 15%;
  margin-top: 5%;
  cursor: pointer;
}

.login-btn {
  width: 100%;
  margin-left: 6%;
  background: #355070;
  border: none;
}

.login-btn:hover {
  background: #213246;
}

span {
  text-align: center;
  margin-left: 3%;
}

Link {
  color: #355070;
}

.google-btn {
  width: 100%;
  margin-left: 10%;
  background: white;
  color: black;
  border: 1px solid black;
}

.google-btn:hover {
  background: rgb(197, 194, 194);
  color: black;
  border: 1px solid black;
}

.twitter-btn {
  width: 100%;
  margin-left: 10%;
  background: white;
  color: black;
  border: 1px solid black;
}

.twitter-btn:hover {
  background: rgb(197, 194, 194);
  color: black;
  border: 1px solid black;
}

/* Media query for screens with a maximum width of 991px (tablet and smaller) */
@media (max-width: 991px) {
  .leftimg {
    width: 100%; /* Set image width to 100% on tablet and smaller screens */
  }
}

/* Media query for screens with a maximum width of 767px (mobile) */
@media (max-width: 767px) {
  .leftimg {
    width: 100%; /* Set image width to 100% on mobile screens */
  }

  /* Center-align headings and paragraphs */
  h5,
  p,
  .hello-heading,
  .right-side-para {
    text-align: center;
  }

  /* Add margin to login and sign-in buttons from the right */
  .login-btn,
  .google-btn,
  .twitter-btn {
    margin-right: 5%; /* Adjust this value as needed */
  }

  .left-side-column{
    border: none;
  }

  .login-email-heading{
    margin-left: 0% !important;
  }
}
