.left-side-column {
  background-color: #355070;
}

.left-container {
  background-color: white;
}

.PI-heading {
  text-align: center;
}

.download-template {
  background: #355070;
  color: white;
  border-radius: 4px;
  
}

.fill-up-template {
  border: 2px solid #355070;
  color: #355070;
  border-radius: 4px;
  width: 100%;
}

.skip-link{
    text-align: center;
    font-weight: 500;
    color: #355070;
}

.rightsideimg {
    width: 80%;
}