/* .leftimg {
  width: 100%;
} */

.left-side-column {
  border-right: 1px solid gray;
}

.rightimg {
  width: 45%;
}

.below-img-row {
  margin-top: 10%;
}

h5 {
  text-align: left;
  font-weight: bold;
}

.hello-heading {
  text-align: center;
  font-weight: bold;
}

p {
  text-align: left;
}

/* RIGHT SIDE CSS */

.payment-container {
  width: 100%;
  border: 1px solid rgb(196, 196, 196);
  border-radius: 10px;
  padding: 2%;
}

.payment-info-para {
  background-color: #e5faee;
  border-radius: 5px;
  color: black;
  padding: 2%;
  font-size: 80%;
}

.right-side-para {
  text-align: center;
}

.email-heading {
  text-align: left;
  margin-left: 7%;
}

.payment-email-inputfield {
  /* margin-left: 4%; */
  border-radius: 5px;
  border: 1px solid gray;
  padding: 2%;
  width: 90%;
}

.validtill-inputfield1, .validtill-inputfield2 {
  /* margin-left: 4%; */
  border-radius: 5px;
  border: 1px solid gray;
  padding: 2%;
  width: 90%;
}

.password-heading {
  text-align: left;
}
.password-inputfield {
  margin-left: 4%;
  border-radius: 5px;
  border: 1px solid gray;
  padding: 2%;
}

.forPword {
  text-align: center;
  color: blue;
  margin-left: 15%;
  margin-top: 5%;
  cursor: pointer;
}

.login-btn {
  width: 100%;
  margin-left: 6%;
  background: #355070;
  border: none;
}

.login-btn:hover {
  background: #213246;
}

span {
  text-align: center;
  margin-left: 3%;
}

.payment-Next-btn {
  width: 100%;
  margin-left: 10%;
  background: #355070;
  color: white;
}

.payment-Next-btn:hover {
  background: rgb(197, 194, 194);
  color: black;
}

.payment-Go-Back-btn {
  width: 100%;
  margin-left: 10%;
  background: white;
  color: black;
  border: 1px solid black;
}

.payment-Go-Back-btn:hover {
  background: rgb(197, 194, 194);
  color: black;
  border: 1px solid black;
}

.ValidCVV{
  margin-left: 15%;
}

/* Media query for screens with a maximum width of 991px (tablet and smaller) */
@media (max-width: 991px) {
  .leftimg {
    width: 100%; /* Set image width to 100% on tablet and smaller screens */
  }
}

/* Media query for screens with a maximum width of 767px (mobile) */
@media (max-width: 767px) {
  .left-side-column {
    border: none !important;
  }

  .leftimg {
    width: 100%; /* Set image width to 100% on mobile screens */
  }

  /* Center-align headings and paragraphs */
  h5,
  p,
  .hello-heading,
  .right-side-para {
    text-align: center;
  }

  /* Add margin to login and sign-in buttons from the right */
  .login-btn,
  .google-btn,
  .Go-Back-btn {
    margin-right: 5%; /* Adjust this value as needed */
  }

  .ValidCVV{
    margin-left: 0%;
  } 

  .validtill-inputfield1{
    margin-bottom: 5%;
  }

  .payment-Next-btn {
    width: 60%;
    margin-left: 0%;
    margin-bottom: 5%;
  }
  
  .payment-Go-Back-btn {
    width: 60%;
    margin-left: 0%;
  }
}
